
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}





#app-icon {

    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background: #4d4c4ca1!important;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: .5rem;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-delay: .15s;
    cursor: pointer;
}

#app-icon:hover{
  
    background: transparent!important;
}

#app-icon-title{
    margin-top: 1rem;
 
    border-radius: 30px;
    padding: 0 0.5rem;

}
#app-icon-title:hover{
  
    background-color: #85818100;
   
}

#icon-box {

    width: 100%;
}

.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 40%; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;

  }


/* body {

    background-image: url("./images/background-webpage.svg")!important;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

} */

.wrapper-background{

    background-image: url("./images/background-webpage.svg")!important;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;


}


.remove-background {

    background: transparent!important;
    border-bottom: 0px!important;
}

.android-icon{

    width:  48px;
    height: 48px;
    object-fit: scale-down;
    
}

.my-logo {

    height:66px!important;
}

.welcome-text {
    color: beige;
    font-size: 2rem;
    margin-left: 12.5rem;
}

.breadcrumb-text {
    color: dimgrey;
}

@media only screen and (max-width: 576px) {
    .welcome{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .content-wrapper{
        font-size: 0.8em;
    }
    .welcome-text {
        
        font-size: 1.3em;
        margin-left: 0; /* Adjust margin for smaller screens */
    }

    .breadcrumb-text {
        display: block;
        margin-top: 10px; /* Adjust spacing for smaller screens */
    }

    /* .content-wrapper{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center; 
        min-height: 200vh;
        background: #27ae60;
        font-family: "Source Sans Pro";
        font-size: 1em;
        letter-spacing: 0.1px;
        color: #32465a;
        text-rendering: optimizeLegibility;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
        -webkit-font-smoothing: antialiased;
    } */
}
